:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #916750;
    --secundario: #ecd5c8;
    --blanco: #fafafa;
    --negro: #070707;
    --gris: #e1e1e1;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
} 
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2; /* se usa grande en los blogs para leer bien. */
}

.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}
a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
} 

h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}

/* utilidades */

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}

/* Header */
.webp .header {
    background-image: url(../img/banner.webp);
}

.no-webp .header {
    background-image: url(../img/banner.jpg);
}

.header {
    height: 60rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 0 2rem;   
}

.header__texto {
    text-align: center;
    color: var(--blanco);
    margin-top: 8rem;
}

@media (min-width:768px){ 
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__texto {
        margin-top: 18rem;
    }
}

.logo {
    color: var(--blanco);
    text-align: center;
}

.logo__nombre {
    font-weight: 400;
    line-height: 2;
}

.logo__bold {
    font-weight: 700;
}

@media (min-width:768px){ 
    .navegacion {
        display: flex;
        gap: 2rem;
    }
}

.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}

@media (min-width:768px){ 
    .contenido-principal {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }

}

/* entradas */

.entrada {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
    
    
}

.entrada__imagen img {
    border-radius: 0.5rem;
}

.entrada:last-of-type {
    border: none;
    margin-bottom: none;
}

/* Botones */

.boton {
    text-decoration: none;
    padding: 1rem 3rem;
    display: block;
    color: var(--blanco);
    font-family: var(--fuenteHeading);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    border: none;

}
.boton--primario{
    background-color: var(--negro);
}

.boton--secundario {
   background-color: var(--primario);
}

.boton:hover {
    cursor: pointer;
}

@media (min-width:768px){ 
    .boton{
        display: inline-block;
    }
}

/* Sidebar */

.sidebar__titulo {
    text-decoration: underline;
}

.cursos {
    list-style: none;

}

.widget-curso{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

.widget-curso:last-of-type{
    margin-bottom: 0;
    border: none;
}

.widget-curso__label{
    font-family: var(--fuenteHeading);
    font-weight: bolder;
    font-size: 2rem;
}

.widget-curso__info{
    font-weight: normal;
    font-size: 2rem;
}

/* Footer */

.footer {
    background-color: var(--negro);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 2rem 0;   
    margin-top: 4rem;
}

/* Nosotros */

@media (min-width:768px){ 
    .sobre-nosotros{
       display: grid;
       grid-template-columns: 1fr 1fr;
       column-gap: 2rem;
    }
}

.curso{
    border-bottom: solid 1px var(--gris);
    margin: 4rem 0
}

.curso:last-of-type {
    border: none;
}
@media (min-width:768px){ 
    .curso {
        display: grid;
        grid-template-columns: 2fr 4fr;
        column-gap: 2rem;
    }
    .curso__descripcion {
        line-height: 1.5;
    }
}

.curso__label{
    font-family: var(--fuenteHeading);
    font-weight: bolder;
    font-size: 2rem;
}

.curso__info{
    font-weight: normal;
    font-size: 2rem;
}

/* Entrada */

@media (min-width:768px){ 

}

/* Contacto */


.contacto-bg {
    background-image: url(../img/contacto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 40rem;
    background-position: center center;
    border-radius: 0.5rem;
}

.formulario {
    background-color: var(--secundario);
    margin: -5rem auto 0 auto;
    width: 90%;
    padding: 1rem;
    border-radius: 0.5rem;
    
}


.campo {
    display: flex;
    margin-bottom: 1.5rem;
    flex-direction: column;
}

.campo__label {
    font-family: var(--fuenteParrafos);
    padding: 0rem 1rem;
}

.campo__input {
    border: 1px solid var(--primario);
    padding: 1rem;
    border-radius: 0.5rem;
}

.campo__input--texarea {
    height: 20rem;
}

.campo--boton {
    width: 100%;
    margin: 0 auto;
}

@media (min-width:768px){ 
    .formulario {
        padding: 5rem;
    }
    .campo{
        flex-direction: row;
    }
    .campo__label {
        flex: 0 0 8rem;
        text-align: right;
    }
    
    .campo__input {
        flex: 1;
    }
    .campo__input--texarea {
        margin-bottom: 4rem;
    }
    .campo--boton{
        width: unset;
        margin-right: 0;
        justify-self:flex-end;
        align-self: flex-end;
    }
    .campo:last-of-type {
        margin-bottom: 0;
    }
    
}

.error {
    background-color: RGBA(255, 0, 0, 0.5);
    text-align: center;
    padding: 1rem;
    color: var(--blanco);
    border-radius: 0.5rem;
}

.enviado {
    background-color: RGBA(0, 255, 0, 0.5);
    text-align: center;
    padding: 1rem;
    color: var(--negro);
    border-radius: 0.5rem;
}


